:root {
  --primary-color: #3ed7f9;
  --secondary-color: #5e5e5e;
  --tertiary-color: #597278;
  --white: white;
  --logo-size-primary: 85%;
  --logo-size-lg: 40em;
}

body {
  margin: 0;
  background-color: var(--primary-color);
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.container {
  margin: 10em auto;
  position: center;
}

.capture-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

span.credits {
  bottom: 1%;
  right: 1%;
  position: fixed;
  font-size: 0.9em;
  color: #5e5e5e;
}

.logo {
  max-width: var(--logo-size-primary);
}

.hidden {
  display: none;
}
.progress {
  margin: 2.5em 0 2.5em 0;
}
.sign-in-button {
  color: var(--white);
}
.sign-in-a:hover {
  color: var(--primary-color) !important;
}
.welcome {
  margin: -8em 0 2em 0;
}
span.welcome-span {
  font-weight: bold;
  font-size: 2em;
}
.button-space {
  margin-right: 0.75em;
}
.uid {
  margin: 2em 0;
}
#user-uid {
  font-weight: bold;
  margin-left: 0.5em;
}
.author-name {
  color: var(--secondary-color);
}
.author-name:hover {
  color: var(--tertiary-color) !important;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .logo {
    margin-bottom: 2em;
    width: var(--logo-size-lg) !important;
  }
}
