body {
  text-align: center;
}

.container {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#capture-button {
  margin: 1em 0 0.75em 0;
}
.header {
  color: Dodgerblue;
}

form {
  display: inline-block;
}

span.credits {
  bottom: 1%;
  right: 1%;
  position: fixed;
  font-size: 0.9em;
  color: dodgerblue;
}

.logo {
  max-width: 85%;
}
.hidden {
  display: none;
}
.hidden-margin {
  margin-right: 1rem;
}
.input-container {
  padding-bottom: 0.8em;
}
.progress {
  margin-top: 2.5em;
}
#user-uid {
  color: Dodgerblue;
  font-weight: bold;
  margin-left: 0.5em;
}

@media screen and (min-width: 900px) and (-webkit-min-device-pixel-ratio: 1) {
  .logo {
    margin-bottom: 5em;
  }
}
