body {
    text-align: center;
}

.container {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.capture-button {
    margin-top: 25px;
}
.header {
    color: Dodgerblue;
}

h1 {
    text-transform: uppercase;
    font-size: 5em;
    letter-spacing: 0.15em;
    font-weight: 300; 
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
form {
    display: inline-block;
}

span.credits {
    bottom: 1%;
    right: 1%;
    position: fixed;
    font-size: 0.9em;
    color: dodgerblue;
}

.intro-text {
    text-align: center;
    font-size: 1.5em;
}

.hidden {
    display: none;
}

#sign-in-form {
    margin-top: 1.25em;
}
.input-container {
    padding-bottom: 0.8em;
}

@media (max-width: 900px) { 
    h1 {
        font-size: 3em; 
    }
    .intro-text {
        font-size: 0.8em;
    }

}